<style>
body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<div class="index-container">
    <div class="index-signup">
            <h4>If you are a new wanderlust soul here, then Sign Up</h4>
            <div class="signup-container">
                <form action="/auth/signup" method="POST">
                    {{!-- <div class="form-icon">
                        <span><i class="icon icon-user"></i></span>
                    </div> --}}
                    <div>
                        <input type="text" name="username" class="text-form" id="username" placeholder="Username">
                    </div>
                    <div>
                        <input type="password" name="password" class="text-form" id="password" placeholder="Password">
                    </div>
                    <div>
                        <input type="password" name="passwordRepeat" class="text-form" id="passwordRepeat" placeholder="Repeat password">
                    </div>
                    <div>
                        <input type="email" name="email" class="text-form" id="email" placeholder="email">
                    </div>
                    <div>
                        <button type="submit" id="authButton">Create Account</button>
                    </div>
                </form>
                 {{#if msg}}
                  <p>{{msg}}</p>
                 {{/if}}
            </div>
    </div>
</div>