    <ul>
    {{#each results}}
        <img src={{this.urls.regular}} alt="Pictaken by {{this.user.name}}" style="width: 500px;" >
        <p>Pic taken by {{this.user.name}}</p><button>Pick this Pic!</button>
    {{/each}}
    </ul>