<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pick-6-Pics</title>
</head>
<body>

    <header>
        <div class="container">
            <div class="nav">
                <h2><i class="fas fa-camera-retro" style="color:brown"></i>Pick 6 Pics</h2>
                <p>Create your personal global map by choosing your favorite picture of each continent.</p>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="">
                    <a class="" href="/">Home</a>
                    <a class="" href="/auth/login">Log In</a>
                    <a class="" href="/auth/signup">Sign Up</a>
                    <a class="" href="/UserFavs">Favorites</a>
                    <a class="" href="/auth/logout">Log out</a>
                    </div>
                </div>


            </div>
        </div>
    </header>


    <div class="container">

        <div class="grid" id="grid">
        </div>

    </div>

    {{{body}}}
    
    <script src="/js/script.js"></script>
</body>
</html>