<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pick-6-Pics</title>
</head>
<body>

    <header>
            <div class="nav">
                    <img src="/images/pick_6_pics_logo_v2.png" class="logo"/>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/auth/login">Log In</a></li>
                        <li><a href="/auth/signup">Sign Up</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/favorites">Favorites</a></li>
                        <li><a href="/auth/logout">Log out</a></li>
                    </ul>
                </nav>
            </div>
    </header>

    <div class="container">

        <div class="grid" id="grid">
        </div>

    </div>

    {{{body}}}
    

      <script src="/js/script.js"></script>
</body>
</html>