<h2>To wich continent do you want to have a look?</h2>

    <div class="search-box">
        <input type="text" id="input" placeholder="Search for a continent... e.g.'Africa'"><i onclick="loadImg() " class="fas fa-search"></i>

    </div>

    <div>
        <button class="getAfricaButton">
            Get Africa pic
        </button>
    </div>
    <div>
        <img class="africaImgDisplay" style="width: 450px;" />
    </div>

    