<style>
body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>


<h2 class="search-title">From wich continent do you want to pick a pic?</h2>

    <div class="search-row">
        <div class="search-buttons">
            <a href="search/africa" ><button id="africaBtn">Africa</button></a>
            <a href="search/asia" ><button id="asiaBtn">Asia</button></a>
        </div>

        <div class="search-buttons">
            <a href="search/america" ><button id="americaBtn">America</button></a>
            <a href="search/europe" ><button id="europeBtn">Europe</button></a>
        </div>

        <div class="search-buttons">
            <a href="search/antartica" ><button id="antarticaBtn">Antartica</button></a>
            <a href="search/oceania" ><button id="oceaniaBtn">Oceania</button></a>
        </div>
    </div>