<h2>To wich continent do you want to have a look?</h2>

    <div>
        <a href="africa" target="_blank" ><button id="africaBtn">Africa</button></a>
        <a href="america" target="_blank" ><button id="americaBtn">America</button></a>
        <a href="antartica" target="_blank" ><button id="antarticaBtn">Antartica</button></a>

    </div>

    <div>
        <a href="asia" target="_blank" ><button id="asiaBtn">Asia</button></a>
        <a href="europe" target="_blank" ><button id="europeBtn">Europe</button></a>
        <a href="oceania" target="_blank" ><button id="oceaniaBtn">Oceania</button></a>
    </div>
