@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
}

h2{
    text-align: center;
    margin-top: 25px;
    font-size: 3rem;
}

header{
    background-color: rgb(58, 58, 58);
    border-bottom: 2px solid lightslategray;
    width: 100%;
    content: '';
    display: table;
}



/* .nav-container{
    width: 95%;
    margin: auto;
    display: flex;
} */

.nav{
  width: 90%;
  margin: 0 auto;
}

nav {
    float: right;
    padding-top: 75px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    float: left;
    padding: 25px 0px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: box-shadow 600ms ease-in-out, color 600ms ease-in-out;
}

nav ul li a:hover {
    box-shadow: 0 0 40px 40px #39d8d863 inset;
    cursor: pointer;
}


/* .nav p{
    margin-top: 10px;
    font-size: 14rem;
} */

.logo{
    width: 400px;
    float: left;
    padding: 8px;
    margin: 15px;
}

/* .nav p{
    font-size: 0.97rem;
}

.nav-menu{
    justify-content: flex-end;
    padding: 50px 15px;
}

.nav-menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: whitesmoke;
    flex-direction: row;

}

.nav-btn{
    color: whitesmoke;
} */

/* ------------------------------------------------------------------ NAV ------------------------------------------------- */

/* ----------------------------------------------------------------- HOME ------------------------------------------------- */
.text-form {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-left: 8px;
    border-radius: 10px;
    border-color: 2px solid #39D8D8;
    transition: 1s;
}

.text-form:hover{
    color: brown;
}


#authButton {
    color:whitesmoke;
    justify-content: center;
    margin-top: 20px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#authButton:hover {
    box-shadow: 0 0 40px 40px #39D8D8 inset;
    cursor: pointer;
}

.index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.index-login {
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 1em;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #39D8D8;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 30%
}

.index-signup {
    background-color: rgba(0, 0, 0, 0.596);
    font-size: 1em;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #39D8D8;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 30%
}

/* ----------------------------------------------------------------- HOME ------------------------------------------------- */

/* .search-box{
    position: relative;
    width: 500px;
}

.search-box input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightslategray
}

input:focus{
    box-shadow: brown;
    border: 2px solid brown;
}

.search-box i{
    color: rgb(44, 44, 44);
    position: absolute;
    top: 25%;
    right: 4%;
    transition: 1s;
}

.search-box i:hover{
    color: brown;
} */

/* .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
} */

/* .img{
    width: 400px;
    height: 250px;
    margin-top: 15px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
} */


/* -----  gallery ---- */
img {
    width: 100%;
}

.gallery-title{
    text-align: center;
    font-size: 3rem;
}

/* .gallery-container {
    display: flex;
    padding: 5px;
} */

.gallery {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    flex: 33%;
}

.gallery img {
    margin-top: 5px;
    border-radius: 5px;
}

.gallery-image {
transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.01);
}

.my-card {
    flex-direction: column;
    flex: 33%;
}

.card-text {
    margin: 15px 0px 0px 15px;
    line-height : 25px;
}

#favButton {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}


#favButton:hover {
    box-shadow: 0 0 40px 40px #ff3232 inset;
    cursor: pointer;
}

#unFavButton {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #d83939;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#unFavButton:hover {
    box-shadow: 0 0 40px 40px #ffbb00 inset;
    cursor: pointer;
}

/* ------SEARCH BUTTONS----------------SEARCH BUTTONS----------------SEARCH BUTTONS----------------SEARCH BUTTONS---------- */
#africaBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300PX;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#africaBtn:hover {
    box-shadow: 0 0 40px 40px #a52727 inset;
    cursor: pointer;
}


#americaBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300PX;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#americaBtn:hover {
    box-shadow: 0 0 40px 40px #ca870a inset;
    cursor: pointer;
}

#antarticaBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300PX;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#antarticaBtn:hover {
    box-shadow: 0 0 40px 40px #ffffff inset;
    color: grey;
    cursor: pointer;
}

#asiaBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 50px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300PX;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#asiaBtn:hover {
    box-shadow: 0 0 40px 40px #babd23 inset;
    cursor: pointer;
}

#europeBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 50px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300PX;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#europeBtn:hover {
    box-shadow: 0 0 40px 40px #251abb inset;
    cursor: pointer;
}

#oceaniaBtn {
    color:whitesmoke;
    justify-content: center;
    margin-top: 50px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 2.3em;
    width: 300px;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#oceaniaBtn:hover {
    box-shadow: 0 0 40px 40px #1ab6bb inset;
    cursor: pointer;
}

.search-row{
     display: flex;
    padding: 50px;
    /*flex-wrap: wrap; */
}

.search-buttons{
     flex: 33%;
   padding: 2px;
    margin-top: 20px;
}

.search-buttons a{
    margin-top: 20px;
}


/* ------------ RESPONSIVE ------------------ RESPONSIVE ----------- RESPONSIVE ------ */

@media(max-width:768px){
    /* .search-buttons{
        flex: 100%;
    } */

    /* .gallery{
        flex: 100%;
    } */
    /* .img{
        width: 100%;
    }

    .nav{
        justify-content: center;
    }

    .nav h2{
        padding: 5px 0px
    }  */

    /* .gallery{
        grid-template-columns: repeat(3, 1fr);
    } */
}

@media(max-width:480px){
    /* .nav h2{
        text-align: center;
        font-size: 1.5rem;
    }

    .search-box{
        width: 80%;
        margin: auto;
    }

    .search-box input{
        font-size: 0.7rem;
    } */

    /* .gallery{
        grid-template-columns: repeat(2, 1fr);
    } */
}


@media(max-width:100px){
    /* .gallery{
        grid-template-columns: repeat(1, 1fr);
    } */
}