@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    padding: 40px 0;
}

header{
    border-bottom: 2px solid lightslategray;
}

.nav-container{
    width: 95%;
    margin: auto;
    display: flex;
}

.nav{
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0px;
}

.nav p{
    margin-top: 10px;
    font-size: 14rem;
}

.logo{
    width: 500px;
}

.nav p{
    font-size: 0.97rem;
}

.nav-menu{
    display: flex;
}

.nav-menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: whitesmoke;
    flex-direction: row;
    justify-content: flex-end;
    padding: 100px 15px;
}

.nav-btn{
    color: whitesmoke;
}

.search-box{
    position: relative;
    width: 500px;
}

.search-box input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightslategray
}

input:focus{
    box-shadow: brown;
    border: 2px solid brown;
}

.search-box i{
    color: rgb(44, 44, 44);
    position: absolute;
    top: 25%;
    right: 4%;
    transition: 1s;
}

.search-box i:hover{
    color: brown;
}

/* .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
} */

/* .img{
    width: 400px;
    height: 250px;
    margin-top: 15px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
} */


/* -----  gallery ---- */
img {
    width: 100%;
}

.gallery-title{
    text-align: center;
    font-size: 5em;
}

/* .gallery-container {
    display: flex;
    padding: 5px;
} */

.gallery {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
}

.gallery img {
    margin-top: 5px;
    border-radius: 5px;
}

.gallery-image {
transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.01);
}

.my-card {
    flex-direction: column;

}

.card-text {
    margin: 15px 0px 0px 15px;
    line-height : 5px;
}

#favButton {
    color:whitesmoke;
    justify-content: center;
    margin-top: 0px;
    padding-top: 0px;  
    background-color: #ff000000;
    border: 1px solid #39D8D8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#favButton:hover {
    box-shadow: 0 0 40px 40px #ff3232 inset;
}

/* ------------ RESPONSIVE ------------------ RESPONSIVE ----------- RESPONSIVE ------ */

@media(min-width:768px){
    /* .img{
        width: 100%;
    }

    .nav{
        justify-content: center;
    }

    .nav h2{
        padding: 5px 0px
    }  */

    /* .gallery{
        grid-template-columns: repeat(3, 1fr);
    } */
}

@media(min-width:480px){
    /* .nav h2{
        text-align: center;
        font-size: 1.5rem;
    }

    .search-box{
        width: 80%;
        margin: auto;
    }

    .search-box input{
        font-size: 0.7rem;
    } */

    /* .gallery{
        grid-template-columns: repeat(2, 1fr);
    } */
}


/* @media(min-width:100px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
} */